.container {
  margin: 0px 50px;
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.subtitle {
  margin: auto;
  font-style: italic;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.showQuote {
  opacity: 1;
}
