#root {
  text-align: center;
}

#time-left {
  font-size: 2em;
  margin: 10px 0;
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  width: 100%;
}

button {
  margin: 5px;
}

.label {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

input {
  max-width: 30px;
}

.edit-button:hover {
  cursor: text;
}

.edit-button {
  background-color: transparent;
  border: 0;
}
