#root {
  text-align: center;
}

#time-left {
  font-size: 2em;
  margin: 10px 0;
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  width: 100%;
}
